{% extends "layout.html" %}
{% set active_tab = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Classic Literature Data</h1>
<p> The data on this webpage is provided by the Classics JSON Library of the CORGIS Dataset Project. 
  It contains information about the 1000 most popular books by download on Project Gutenburg. 
  Project Gutenburg is a digital library of over 56,000 ebooks that have fallen into the public domain. 
  Created by Michael S. Hart in 1971, it is the oldest digital library.</p>
<br>
<p> Data about these novels is available by title, genre, and reading level. Genre is dislayed using the Library of Congress Classification System. Reading level is based on grade level, and calulated using the coleman liau index, gunning fog, and  
  

{% endblock %}
