{% extends "layout.html" %}
{% set active_tab = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Classic Literature Data</h1>
<p> The data on this webpage is provided by the Classics JSON Library of the CORGIS Dataset Project. 
  It contains information about the 1000 most popular books by download on Project Gutenburg. 
  Project Gutenburg is a digital library of over 56,000 ebooks that have fallen into the public domain. 
  Created by Michael S. Hart in 1971, it is the oldest digital library.</p>

{% endblock %}
