{% extends "layout.html" %}
{% set active_tab = "t1" %}

{% block title %}Data by Title{% endblock %}

{% block content %}
<h1> Select a title to access data </h1>
    <form action="/bytitle">
      <select name="title">
      {{ options }}
        </select>
        
      <select name="info">
          <option value="Reading Difficulty Information">Reading Difficulty Information</option>
          <option value="Statistics Information">Statistics Information</option>
          <option value="Sentiments Information">Sentiments Information</option>
          <option value="Publication Information">Publication Information</option>
          <option value="Author Information">Author Information</option>
          <option value="Subjects Information">Subjects Information</option>
          <option value="Congress Classification Information">Congress Classification Information</option>
      </select>
      <input type="submit">
    </form>
{{ data }}
{% endblock %}

