{% extends "layout.html" %}
{% set active_tab = "t2" %}

{% block title %}Data by Classification{% endblock %}

{% block content %}
<h1> Select a Congress Classification to Access Data </h1>
    <form action="/byclass">
      <select name="class">
          <option value="A">General Works</option>
          <option value="B">Philosophy, Psychology, Religion</option>
          <option value="C">Auxiliary Sciences of History (General)</option>
          <option value="D">History (General) and History of Europe</option>
          <option value="E">American and the United States History (general)</option>
          <option value="F">United States (local) and America Outside of U.S. History</option>
          <option value="G">Geography, Anthropology, Recreation</option>
          <option value="H">Social Sciences</option>
          <option value="J">Political Science</option>
          <option value="K">Law</option>
          <option value="L">Education</option>
          <option value="M">Music</option>
          <option value="N">Fine Arts</option>
          <option value="P">Language and Literature</option>
          <option value="Q">Science (General)</option>
          <option value="R">Medicine</option>
          <option value="S">Agriculture</option>
          <option value="T">Technology</option>
          <option value="U">Military Science</option>
          <option value="V">Naval Science</option>
          <option value="Z">Bibliography, Library Science, Information Resources</option>
      </select>
      <input type="submit">
    </form>
{{ data }}
{% endblock %}


