{% extends "layout.html" %}
{% set active_tab = "t2" %}

{% block title %}Data by Genre{% endblock %}

{% block content %}
<h1> Select a Genre (by Library of Congress Classification) to Access Data </h1>
    <form action="/bygenre">
      <select name="genre">
          <option value="General Works A">General Works</option>
          <option value="Philosophy, Psychology, Religion B">Philosophy, Psychology, Religion</option>
          <option value="Auxiliary Sciences of History (General) C">Auxiliary Sciences of History (General)</option>
          <option value="History (General) and History of Europe D">History (General) and History of Europe</option>
          <option value="American and the United States History (General) E">American and the United States History (General)</option>
          <option value="United States (Local) and America Outside of U.S. History F">United States (Local) and America Outside of U.S. History</option>
          <option value="Geography, Anthropology, Recreation G">Geography, Anthropology, Recreation</option>
          <option value="Social Sciences H">Social Sciences</option>
          <option value="Political Science J">Political Science</option>
          <option value="Law K">Law</option>
          <option value="Education L">Education</option>
          <option value="Music M">Music</option>
          <option value="Fine Arts N">Fine Arts</option>
          <option value="Language P">Language and Literature</option>
          <option value="Science (General) Q">Science (General)</option>
          <option value="Medicine R">Medicine</option>
          <option value="Agriculture S">Agriculture</option>
          <option value="Technology T">Technology</option>
          <option value="Military Science U">Military Science</option>
          <option value="Naval Science V">Naval Science</option>
          <option value="Bibliography, Library Science, Information Resources Z">Bibliography, Library Science, Information Resources</option>
      </select>
      <input type="submit">
    </form>
{{ data }}
{% endblock %}


